---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

@media screen and (min-width: 600px) {
  .post-list {
    columns: 2;
  }
}

.post-list > li {
  margin-bottom: 0;
}

.post-link {
  display: initial;
}
